<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LM_Seguridad"
        tools:targetApi="tiramisu"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".IngresarMallaTurnosActivity"
            android:exported="false" />

        <activity
            android:name=".MallasDeTurnosActivity"
            android:exported="false"
            android:label="@string/title_activity_mallas_de_turnos"
            android:theme="@style/Theme.LM_Seguridad" />
        <activity
            android:name=".Perfil1"
            android:exported="false" />

        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity android:name=".RegistroVisitasActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chat"
            android:exported="false">
        </activity>
        <activity
            android:name=".RegistroIncidentesActivity"
            android:exported="false" />


    </application>

</manifest>
